<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">

    <wicket:panel>

        <!-- The template to display files available for download -->
        <script id="template-download" type="text/x-tmpl">
            {%
            for (var i=0, file; file=o.files[i]; i++) {
            %}

            <tr class="template-download fade" style="float:left;padding-right:4px;">
              <td class="preview"   style="background-color: #ddd;border-bottom: 1px solid #ddd;border-top:0px;">
              <div  style="width:120px;background-color: #ddd;height:140px;overflow:hidden">
                     {% if (file.thumbnail_url) { %}
                    <a href="/{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}" width="120px" height="120px"></a>
                    {% } %}
                    <input type="hidden" name="imgId_{%=file.name%}" value="{%=file.name%}">
                </div>
                 <div class="delete" style="text-align: center;padding-top: 4px;">
                    <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="/{%=file.delete_url%}"{% if (file.delete_with_credentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="icon-trash icon-white"></i>
                    <span>删除</span>
                    </button>
                </div>
            </td>
            </tr>

            {% } %}
        </script>

    </wicket:panel>

</html>