.FlotPanel {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#FlotPanel_drawingArea {
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#flotTip {
    padding: 3px 6px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #000;
    opacity: .8;
    filter: alpha(opacity=80);
    z-index: 200;
    font-size: 13px
}
