<wicket:panel xmlns:wicket="http://wicket.apache.org">

    <!-- 开始时间 -->
    <div class="form-group">
        <label class="col-md-2 control-label">开始时间:</label>

        <div class="col-md-2"><input type="text" wicket:id="startDate" class="form-control"/></div>
        <div class="col-md-2"><input type="text" wicket:id="startTime" class="form-control" data-mask="99:99"></div>
    </div>

    <!-- 结束时间 -->
    <div class="form-group">
        <label class="col-md-2 control-label">结束时间:</label>

        <div class="col-md-2"><input type="text" wicket:id="endDate" class="form-control"/></div>
        <div class="col-md-2"><input type="text" wicket:id="endTime" class="form-control" data-mask="99:99"></div>
    </div>
</wicket:panel>